name: Close inactive issues
on:
  schedule:
    - cron: "30 18 * * *"

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v9.0.0
        with:
          days-before-issue-stale: 30
          days-before-issue-close: 23
          days-before-pr-stale: 30
          days-before-pr-close: 23
          stale-issue-label: "stale"
          stale-pr-label: "stale"
          stale-issue-message: "This issue is stale because it has been open for 30 days with no activity."
          close-issue-message: "This issue was closed because it has been inactive for 23 days since being marked as stale."
          stale-pr-message: "This pull request is stale because it has been open for 30 days with no activity."
          close-pr-message: "This pull request was closed because it has been inactive for 23 days since being marked as stale."
